<ion-header>
    <ion-navbar>
        <ion-title>{{'Change Password' | translate}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="savePass()">
                {{'SAVE' | translate}}
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item>
            <ion-icon class="ic" name="lock" item-start></ion-icon>
            <ion-input placeholder="{{'Old' | translate}} {{'Password' | translate}}" [(ngModel)]="oldP"></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon class="ic" name="lock" item-start></ion-icon>
            <ion-input placeholder="{{'New' | translate}} {{'Password' | translate}}" [(ngModel)]="newP"></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon class="ic" name="lock" item-start></ion-icon>
            <ion-input placeholder="{{'Confirm' | translate}} {{'New' | translate}} {{'Password' | translate}}" [(ngModel)]="cnewP"></ion-input>
        </ion-item>
    </ion-list>
</ion-content>
