page-route {
    .travel_details ul {
        margin: 0px 0;
        padding: 0 0 0 10px;
    }
    .travel_details ul li {
        font-size: 11px;
        list-style-type: none;
        position: relative;
        color: #444;
        margin: 0px;
    }
    .travel_details ul li::before {
        content: "\f111";
        position: absolute;
        left: -14px;
        font-family: "FontAwesome";
        font-size: 5px;
        width: 15px;
        text-align: center;
       /* line-height: 11px;*/
    }
    .travel_details ul li:first-child::before {
        color: green;
        font-size: 10px;
    }
    .travel_details ul li:last-child::before {
        color: red;
        font-size: 10px;
    }

    .overme {
        padding-top:8px;
        padding-right: 2px;
         // padding: auto; 
         width: 200px;
         // height: 60px;
         // line-height: 30px;
         line-height: normal;
         overflow:hidden; 
         font-size: 12px;
        //  color: white;
         // background: #333;
 
         /*The problematic part is below*/
         white-space:nowrap; 
         text-overflow: ellipsis;
     }
     
     .overme {
         white-space: normal;
         display: -webkit-box;
         -webkit-line-clamp: 2;
         -webkit-box-orient: vertical;
     }
}
